@tailwind base;
@tailwind components;
@tailwind utilities;
.modal-overlay{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.4);
    justify-content:center;
    align-items:center;
}

.modal-box{
    background:white;
    padding:30px;
    border-radius:8px;
    width:500px;
}